## Workflow-specific
.snakemake/*
logs/*
resources/*
*.jcounts
*.featureCounts
results/salmon/*/aux_info/bootstrap/
results/junctions/*.bed
results/rseqc/inner_distance/*.inner_distance.txt

## Common large files
*.fastq.gz
*.fq.gz
*.fa
*.sai
*.bam
*.bai
*.vcf
*.vcf.idx
*.vcf.gz
*.vcf.gz.tbi
*.bedGraph
*.bigWig

.Rproj.user
.positai
